/*
* RIO LAYOUT & THEME
* Supported Browsers > Google Chrome 3+ , Mozilla Firefox 3+ , Safari 3+ , Opera 3+ , Yandex Browser , Inernet Explorer 9+
* Copyright 2014 - PrimeFaces Theme Market - PrimeTek */
/* FONT-FACE*/
@font-face {
  font-family: 'roboto_condensedbold';
  src: url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.eot']}");
  src: url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.woff2']}") format('woff2'), url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.woff']}") format('woff'), url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.ttf']}") format('truetype'), url("#{resource['primefaces-rio:fonts/robotocondensed-bold-webfont.svg']}#roboto_condensedbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight';
  src: url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.eot']}");
  src: url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.woff2']}") format('woff2'), url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.woff']}") format('woff'), url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.ttf']}") format('truetype'), url("#{resource['primefaces-rio:fonts/robotocondensed-light-webfont.svg']}#roboto_condensedlight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedregular';
  src: url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.eot']}");
  src: url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.eot']}#iefix") format('embedded-opentype'), url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.woff2']}") format('woff2'), url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.woff']}") format('woff'), url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.ttf']}") format('truetype'), url("#{resource['primefaces-rio:fonts/robotocondensed-regular-webfont.svg']}#roboto_condensedregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.FontRobotoBold {
  font-family: 'roboto_condensedbold';
}
.FontRobotoRegular {
  font-family: 'roboto_condensedregular';
}
.FontRobotoLight {
  font-family: 'roboto_condensedlight';
}
/*BODY*/
html {
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
.loginbodyblue {
  background-image: url("#{resource['rio-layout:images/blue-background.svg']}");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #0288d1;
  background-repeat: no-repeat;
  height: auto;
  border-top: solid 10px #0288d1;
}
.loginbodyorange {
  background-image: url("#{resource['rio-layout:images/orange-background.svg']}");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #fb8c00;
  background-repeat: no-repeat;
  height: auto;
  border-top: solid 10px #fb8c00;
}
.loginbodyred {
  background-image: url("#{resource['rio-layout:images/red-background.svg']}");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #e53935;
  background-repeat: no-repeat;
  height: auto;
  border-top: solid 10px #e53935;
}



/* topbar */
#layout-topbar {
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 1000;
  background-color: #03a9f4;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
#logo {
  width: 230px;
  height: 64px;
  background-color: #0288d1;
  border-right: solid 1px #0277bd;
  display: block;
}
#logo img {
  height: 30px;
  max-width: 123px;
  margin-top: 18px;
  margin-left: 8%;
}
#mobile-menu-button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 28px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  width: 47px;
  height: 37px;
  cursor: pointer;
  background-color: #039be5;
  position: relative;
  margin: 8px -24px auto auto;
  color: #ffffff;
  overflow: hidden;
}
#mobile-menu-button:hover,
#mobile-menu-button:focus {
  background-color: #0288d1;
}
#mobile-menu-button.MenuClose {
  margin-top: 39px !important;
  background-color: #ef5350 !important;
  color: #ffffff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* top menu */
#top-menu {
  margin: 8px 1.3% 0px 0px;
  padding: 0px;
  float: right;
}
#top-menu li {
  float: left;
  margin-left: 4px;
}
#top-menu > li > a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 28px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  width: 47px;
  height: 37px;
  cursor: pointer;
  display: block;
  float: left;
  color: #e1f5fe;
  overflow: hidden;
}
#top-menu > li > a:hover,
#top-menu li a:focus {
  background-color: #039be5;
}
#top-menu > li > a .Txt {
  display: none;
  font-family: 'roboto_condensedregular';
}
#top-menu li ul {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  float: left;
  overflow: hidden;
}
#top-menu li ul.active-menu {
  width: auto;
  height: 37px;
}
#top-menu li ul li {
  float: left;
  padding: 0px;
  margin: 0px;
  padding-top: 13px;
}
#top-menu li ul li input[type="text"] {
  background-color: transparent;
  border: 0px none;
  border-bottom: solid 1px #e1f5fe;
  padding: 0px;
  width: 120px;
  font-family: 'roboto_condensedlight';
  font-size: 16px;
  color: #e1f5fe;
}
#top-menu li ul li input[type="text"]::-webkit-input-placeholder {
  color: #e1f5fe;
}
#top-menu li ul li input[type="text"]:-moz-placeholder {
  color: #e1f5fe;
  opacity: 1;
}
#top-menu li ul li input[type="text"]::-moz-placeholder {
  color: #e1f5fe;
  opacity: 1;
}
#top-menu li ul li input[type="text"]:-ms-input-placeholder {
  color: #e1f5fe;
}
#top-menu li ul li a {
  color: #e1f5fe;
  padding: 0px 5px;
  display: block;
  border-bottom: solid 1px #e1f5fe;
  font-size: 16px;
  font-family: 'roboto_condensedregular';
}
#show-top-menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 28px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  width: 47px;
  height: 37px;
  cursor: pointer;
  position: relative;
  margin: 8px 2% auto auto;
  color: #e1f5fe;
  overflow: hidden;
}
#show-top-menu:hover {
  background-color: #039be5;
}
#show-top-menu.MenuClose {
  background-color: #039be5;
}
/* wrapper */
#wrapper {
  display: inline;
  width: 100%;
  height: 100%;
}
#wrapperIndent {
  display: inline;
  height: 100%;
}
/*Layout Menu Cover */
#layout-menu-cover {
  width: 230px;
  display: block;
  height: 100%;
  vertical-align: top;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  border-right: solid 1px #e0e0e0;
  z-index: 999;
}
/*Layout Menu */
.layout-menu {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  margin-top: 70px;
}
.layout-menu.rio-menu {
  margin-top: 0px;
}
.layout-menu li {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.layout-menu li a {
  color: #455a64;
  cursor: pointer;
}
.layout-menu ul {
  padding: 0px;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
#layout-menu-cover ul.active-menu {
  height: auto;
  opacity: 1;
  background-color: #f5f5f5;
}
#layout-menu-cover:hover .layout-menu > li > a.active-menu,
.layout-menu > li > a.active-menu {
  background-color: #e0e0e0;
}
.layout-menu .active-menu-restore {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.layout-menu > li {
  width: auto;
  height: auto;
  font-size: 18px;
}
.layout-menu > li > a {
  width: 84%;
  padding: 12px 8%;
  display: block;
  font-family: 'roboto_condensedregular';
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.layout-menu > li > a:hover,
.layout-menu > li > a:active,
.layout-menu > li > a:focus {
  background-color: #e0e0e0;
}
.layout-menu > li > a > i {
  display: block;
  font-size: 23px;
  float: left;
  margin-right: 4px;
  line-height: 0.7;
}
.layout-menu li ul li {
  font-family: 'roboto_condensedregular';
  font-size: 15px;
}
.layout-menu > li ul li a:focus {
  color: #03a9f4;
}
.layout-menu li ul li a {
  width: 80%;
  padding: 9px 10%;
  display: block;
  text-align: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.layout-menu li ul li a:hover {
  background-color: #e0e0e0;
}
.layout-menu li ul li a > i {
  margin-right: 4px;
  font-size: 14px;
}
/* menu levels */
.menu-level-1 {
  text-indent: 8px;
}
.menu-level-2 {
  text-indent: 16px;
}
.menu-level-3 {
  text-indent: 24px;
}
.layout-menu > li > a.menulink > i.icon-ellipsis1 {
  display: none;
}
/*Layout Portlets Cover*/
#layout-portlets-cover {
  display: block;
  vertical-align: top;
  padding: 70px 10px 30px 0.1%;
  margin-left: 240px;
}
.Card {
  padding: 10px;
  display: block;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-family: 'roboto_condensedregular';
  color: #546e7a;
}
.CardTopic {
  font-size: 15px;
  margin: 0px;
  padding: 10px 0px;
  width: 100%;
  display: block;
  color: #546e7a;
}
.CardFooter {
  border-top: solid 1px #e0e0e0;
  margin: 10px -10px -12px;
  padding: 10px;
  overflow: hidden;
  display: block;
}
.CardFooterBtn {
  padding: 10px;
  margin: -10px 0px;
  display: inline-block;
  font-size: 24px;
}
.CardFooterBtn:hover {
  background-color: #f5f5f5;
}
/* LAYOUT STANDART STYLES -----------------------------------------------------------------*/
a {
  text-decoration: none;
  outline: none;
}
img {
  outline: none;
}
li {
  list-style: none;
}
i {
  line-height: 0.7 !important;
}
/* seperator line */
.Separator {
  border-bottom: solid 1px #e0e0e0;
  width: 100%;
  overflow: hidden;
  height: 0px;
  margin: 10px 0px;
  clear: both;
}
.SeparatorFull {
  border-bottom: solid 1px #e0e0e0;
  display: block;
  overflow: hidden;
  height: 0px;
  margin: 10px -10px;
  clear: both;
}
/* hover effect for boxlink and links */
.HoverEffect {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.HoverEffect:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* shadow */
.ShadowEffect {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.4);
  -moz-box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.4);
}
@media screen and (min-width: 0\0) {
  .ShadowEffect {
    box-shadow: 0px 0px 8px 0px rgba(43, 59, 93, 0.4);
  }
}
.BigTopic {
  padding-bottom: 20px;
  font-size: 24px;
}
.changecolor:hover {
  background-color: #FBB040;
  border-color: black;
  padding: 1px;
}
/* MEDIA QUERIES **************************************************************************************************************** */
/* Large desktop */
/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
  html,
  body {
    height: auto;
  }
  /* topbar */
  #layout-topbar {
    height: 64px;
  }
  #logo {
    width: 230px;
    height: 64px;
  }
  #logo img {
    height: 30px;
    max-width: 123px;
    margin-top: 18px;
    margin-left: 8%;
  }
  #mobile-menu-button {
    font-size: 28px;
    padding-top: 10px;
    width: 47px;
    height: 37px;
    margin: 8px -24px auto auto;
  }
  #mobile-menu-button.MenuClose {
    margin-top: 39px !important;
  }
  /* top menu */
  #top-menu {
    width: 150px;
    position: absolute;
    display: none;
    opacity: 0;
    right: 2%;
    margin: 40px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  #top-menu.showmenu {
    margin-top: 60px;
    opacity: 1;
    display: block;
  }
  #top-menu li {
    width: 150px;
    padding: 0px;
    margin: 0px;
  }
  #top-menu > li > a {
    font-size: 14px;
    text-align: left;
    padding: 10px;
    width: 130px;
    height: auto;
    cursor: pointer;
    display: block;
    float: left;
    color: #546e7a;
    border-radius: 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #top-menu > li > a:hover,
  #top-menu li a:focus {
    background-color: #e0e0e0;
  }
  #top-menu > li > a i {
    float: left;
    font-size: 18px;
    margin-right: 5px;
  }
  #top-menu > li > a .Txt {
    display: inline-block;
    float: left;
  }
  #top-menu li ul {
    width: 150px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: hidden;
  }
  #top-menu li ul.active-menu {
    width: auto;
    height: auto;
    background-color: #f5f5f5;
  }
  #top-menu li ul li {
    float: left;
    padding: 0px;
    margin: 0px;
  }
  #top-menu li ul li input[type="text"] {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #e0e0e0;
    padding: 0px;
    width: 100px;
    margin: 10px 10px 10px 35px;
    font-family: 'roboto_condensedlight';
    font-size: 14px;
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]::-webkit-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]:-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]::-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]:-ms-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li a {
    width: 105px;
    color: #546e7a;
    padding: 10px 10px 10px 35px;
    display: block;
    border: 0px none;
    font-size: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top-menu li ul li a:hover,
  #top-menu li ul li a:focus {
    background-color: #e0e0e0;
  }
  #show-top-menu {
    font-size: 28px;
    padding-top: 10px;
    width: 47px;
    height: 37px;
    position: relative;
    margin: 8px 2% auto auto;
  }
  /* wrapper */
  #wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }
  #wrapperIndent {
    display: block;
    height: 100%;
  }
  /*Layout Menu Cover */
  #layout-menu-cover {
    display: block;
    height: 100%;
    position: fixed;
    z-index: 999;
    border-bottom: solid 1px #e0e0e0;
    margin-left: -230px;
    overflow: hidden;
  }
  #layout-menu-cover.showmenu {
    margin-left: 0px;
  }
  /*Layout Portlets Cover*/
  #layout-portlets-cover {
    display: block;
    padding: 75px 1% 30px;
    margin-left: 0px;
  }
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 640px) {
  html,
  body {
    height: auto;
  }
  /* topbar */
  #layout-topbar {
    height: 50px;
  }
  #logo {
    width: 230px;
    height: 50px;
  }
  #logo img {
    height: 24px;
    max-width: 123px;
    margin-top: 14px;
    margin-left: 8%;
  }
  #mobile-menu-button {
    font-size: 22px;
    padding-top: 8px;
    width: 37px;
    height: 29px;
    margin: 7px -19px auto auto;
  }
  #mobile-menu-button.MenuClose {
    margin-top: 31px !important;
  }
  /* top menu */
  #top-menu {
    width: 150px;
    position: absolute;
    display: none;
    opacity: 0;
    right: 2%;
    margin: 40px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  #top-menu.showmenu {
    margin-top: 47px;
    opacity: 1;
    display: block;
  }
  #top-menu li {
    width: 150px;
    padding: 0px;
    margin: 0px;
  }
  #top-menu > li > a {
    font-size: 14px;
    text-align: left;
    padding: 10px;
    width: 130px;
    height: auto;
    cursor: pointer;
    display: block;
    float: left;
    color: #546e7a;
    border-radius: 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #top-menu > li > a:hover,
  #top-menu li a:focus {
    background-color: #e0e0e0;
  }
  #top-menu > li > a i {
    float: left;
    font-size: 18px;
    margin-right: 5px;
  }
  #top-menu > li > a .Txt {
    display: inline-block;
    float: left;
  }
  #top-menu li ul {
    width: 150px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: hidden;
  }
  #top-menu li ul.active-menu {
    width: auto;
    height: auto;
    background-color: #f5f5f5;
  }
  #top-menu li ul li {
    float: left;
    padding: 0px;
    margin: 0px;
  }
  #top-menu li ul li input[type="text"] {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #e0e0e0;
    padding: 0px;
    width: 100px;
    margin: 10px 10px 10px 35px;
    font-family: 'roboto_condensedlight';
    font-size: 14px;
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]::-webkit-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]:-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]::-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]:-ms-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li a {
    width: 105px;
    color: #546e7a;
    padding: 10px 10px 10px 35px;
    display: block;
    border: 0px none;
    font-size: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top-menu li ul li a:hover,
  #top-menu li ul li a:focus {
    background-color: #e0e0e0;
  }
  #show-top-menu {
    font-size: 22px;
    padding-top: 8px;
    width: 37px;
    height: 29px;
    position: relative;
    margin: 7px 2% auto auto;
  }
  /* wrapper */
  #wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }
  #wrapperIndent {
    display: block;
    height: 100%;
  }
  /*Layout Menu Cover */
  #layout-menu-cover {
    display: block;
    height: 100%;
    position: fixed;
    z-index: 999;
    border-bottom: solid 1px #e0e0e0;
    margin-left: -230px;
    overflow: hidden;
  }
  #layout-menu-cover.showmenu {
    margin-left: 0px;
  }
  .layout-menu {
    margin-top: 57px;
  }
  /*Layout Portlets Cover*/
  #layout-portlets-cover {
    display: block;
    padding: 55px 1% 20px;
    margin-left: 0px;
  }
}
/* Portrait phones and down */
@media (min-width: 320px) and (max-width: 480px) {
  html,
  body {
    height: auto;
  }
  /* topbar */
  #layout-topbar {
    height: 50px;
  }
  #logo {
    width: 230px;
    height: 50px;
  }
  #logo img {
    height: 24px;
    max-width: 123px;
    margin-top: 14px;
    margin-left: 8%;
  }
  #mobile-menu-button {
    font-size: 22px;
    padding-top: 8px;
    width: 37px;
    height: 29px;
    margin: 7px -19px auto auto;
  }
  #mobile-menu-button.MenuClose {
    margin-top: 31px !important;
  }
  /* top menu */
  #top-menu {
    width: 150px;
    position: absolute;
    display: none;
    opacity: 0;
    right: 2%;
    margin: 40px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  #top-menu.showmenu {
    margin-top: 47px;
    opacity: 1;
    display: block;
  }
  #top-menu li {
    width: 150px;
    padding: 0px;
    margin: 0px;
  }
  #top-menu > li > a {
    font-size: 14px;
    text-align: left;
    padding: 10px;
    width: 130px;
    height: auto;
    cursor: pointer;
    display: block;
    float: left;
    color: #546e7a;
    border-radius: 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #top-menu > li > a:hover,
  #top-menu li a:focus {
    background-color: #e0e0e0;
  }
  #top-menu > li > a i {
    float: left;
    font-size: 18px;
    margin-right: 5px;
  }
  #top-menu > li > a .Txt {
    display: inline-block;
    float: left;
  }
  #top-menu li ul {
    width: 150px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: hidden;
  }
  #top-menu li ul.active-menu {
    width: auto;
    height: auto;
    background-color: #f5f5f5;
  }
  #top-menu li ul li {
    float: left;
    padding: 0px;
    margin: 0px;
  }
  #top-menu li ul li input[type="text"] {
    background-color: transparent;
    border: 0px none;
    border-bottom: solid 1px #e0e0e0;
    padding: 0px;
    width: 100px;
    margin: 10px 10px 10px 35px;
    font-family: 'roboto_condensedlight';
    font-size: 14px;
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]::-webkit-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li input[type="text"]:-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]::-moz-placeholder {
    color: #546e7a;
    opacity: 1;
  }
  #top-menu li ul li input[type="text"]:-ms-input-placeholder {
    color: #546e7a;
  }
  #top-menu li ul li a {
    width: 105px;
    color: #546e7a;
    padding: 10px 10px 10px 35px;
    display: block;
    border: 0px none;
    font-size: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top-menu li ul li a:hover,
  #top-menu li ul li a:focus {
    background-color: #e0e0e0;
  }
  #show-top-menu {
    font-size: 22px;
    padding-top: 8px;
    width: 37px;
    height: 29px;
    position: relative;
    margin: 7px 2% auto auto;
  }
  /* wrapper */
  #wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }
  #wrapperIndent {
    display: block;
    height: 100%;
  }
  /*Layout Menu Cover */
  #layout-menu-cover {
    display: block;
    height: 100%;
    position: fixed;
    z-index: 999;
    border-bottom: solid 1px #e0e0e0;
    margin-left: -230px;
    overflow: hidden;
  }
  #layout-menu-cover.showmenu {
    margin-left: 0px;
  }
  .layout-menu {
    margin-top: 57px;
  }
  /*Layout Portlets Cover*/
  #layout-portlets-cover {
    display: block;
    padding: 55px 1% 20px;
    margin-left: 0px;
  }
}
#FAW .Container33 {
  padding: 10px 0px;
}
#layout-portlets-cover:before,
#layout-portlets-cover:after,
.Card:before,
.Card:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
#layout-portlets-cover:after,
.Card:after {
  clear: both;
}
/* colors */
/* fonts */
/* misc */
.short-transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.medium-transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.long-transition {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* predefined colors */
.White {
  color: #ffffff;
}
.WhiteBlue {
  color: #E1F5FE;
}
.SoftBlue {
  color: #03A9F4;
}
.Blue {
  color: #0288D1;
}
.Turquoise {
  color: #26C6DA;
}
.SoftGray {
  color: #ECEFF1;
}
.Gray {
  color: #90A4AE;
}
.BoldGray {
  color: #546E7A;
}
.SoftOrange {
  color: #FFCC80;
}
.Orange {
  color: #FB8C00;
}
.SoftGreen {
  color: #A5D6A7;
}
.Green {
  color: #43A047;
}
.LeadenGreen {
  color: #26A69A;
}
.SoftRed {
  color: #EF9A9A;
}
.Red {
  color: #E53935;
}
.Pink {
  color: #FF4081;
}
.SoftPurple {
  color: #CE93D8;
}
.Purple {
  color: #8E24AA;
}
.Yellow {
  color: #F7D100;
}
/* predefined background colors */
.WhiteBlueBack {
  background-color: #E1F5FE;
}
.SoftBlueBack {
  background-color: #03A9F4;
}
.BlueBack {
  background-color: #0288D1;
}
.TurquoiseBack {
  background-color: #26C6DA;
}
.SoftGrayBack {
  background-color: #ECEFF1;
}
.GrayBack {
  background-color: #90A4AE;
}
.BoldGrayBack {
  background-color: #546E7A;
}
.SoftOrangeBack {
  background-color: #FFCC80;
}
.OrangeBack {
  background-color: #FB8C00;
}
.SoftGreenBack {
  background-color: #A5D6A7;
}
.GreenBack {
  background-color: #43A047;
}
.LeadenGreenBack {
  background-color: #26A69A;
}
.SoftRedBack {
  background-color: #EF9A9A;
}
.RedBack {
  background-color: #E53935;
}
.PinkBack {
  background-color: #FF4081;
}
.SoftPurpleBack {
  background-color: #CE93D8;
}
.PurpleBack {
  background-color: #8E24AA;
}
.YellowBack {
  background-color: #F7D100;
}
/* predefined borders */
.BorderTop {
  border-top: solid 1px #E0E0E0;
}
.BorderRight {
  border-right: solid 1px #E0E0E0;
}
.BorderBottom {
  border-bottom: solid 1px #E0E0E0;
}
.BorderLeft {
  border-left: solid 1px #E0E0E0;
}
.BorderAll {
  border: solid 1px #E0E0E0;
}

