<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<script type="text/javascript">
function start() {
    PF('statusDialog').show();
}
 
function stop() {
    PF('statusDialog').hide();
}
</script>



		<p:dialog modal="true" widgetVar="statusDialog"
			header="FeedbackCards werden erstellt ..." draggable="false"
			closable="false" resizable="false">
			<p:graphicImage name="ajax-loader.gif"
				style="margin-left: auto; margin-right: auto" />
		</p:dialog>

		<div class="Container30 Responsive100">
			<div class="Container100 Responsive50">
				<div class="ContainerIndent">
					<div class="Card ShadowEffect HeiAutoOnMobile">
						<h2 class="CardTopic">
							<i class="icon-magic20 Fs20 Fleft MarRight10"></i> FEEDBACK-CARDS
							ERSTELLEN
							<h:form>
								<p:button type="button" icon="fa fa-mail-reply White"
									styleClass="Fright BlueButton"
									outcome="questionOverview?faces-redirect=true"
									style="margin-top:-30px !important;" />
							</h:form>
						</h2>

						<div class="Separator"></div>
						<div class="Container100">
							<div class="ContainerIndent">
								<h:form>
									<h:outputLabel value="Gewünschte Anzahl an FeedbackCards:"
										style="margin-right:20px;margin-bottom:10px" />
									<div class="EmptyBox5"></div>

									<p:inputText id="feedbackCardAmountTextField"
										styleClass="Wid90"
										value="#{createFeedbackCardsBean.feedbackCardAmount}" />
									<div class="EmptyBox10"></div>

									<p:slider for="feedbackCardAmountTextField" minValue="10"
										styleClass="Wid90" maxValue="500" />

									<div class="EmptyBox20"></div>

									<h:outputLabel value="Einmalige FeedbackCards?"
										style="margin-right:20px;margin-bottom:10px" />
									<div class="EmptyBox5"></div>

									<p:selectBooleanCheckbox
										value="#{createFeedbackCardsBean.singleUsage}" />
									<div class="EmptyBox10"></div>

									<div class="EmptyBox20"></div>

									<p:commandButton id="createFeedbackCards"
										actionListener="#{createFeedbackCardsBean.generateFeedbackCards()}"
										value="FeedbackCards erstellen"
										styleClass="GreenButton Wid100" ajax="false"
										onclick="PrimeFaces.monitorDownload(start, stop);"
										icon="ui-icon-arrowthick-1-s">
										<p:fileDownload value="#{createFeedbackCardsBean.file}" />
									</p:commandButton>

								</h:form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>