
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">

		<p:growl id="msgs" showDetail="true" />

		<div class="Container30 Responsive100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect HeiAutoOnMobile">
					<h2 class="CardTopic">
						<i class="icon-magic20 Fs20 Fleft MarRight10"></i> NEUE FRAGE
						ERSTELLEN
						<h:form>
							<p:button type="button" icon="fa fa-mail-reply White"
								styleClass="Fright BlueButton"
								outcome="dashboard?faces-redirect=true"
								style="margin-top:-30px !important;" />
						</h:form>
					</h2>
					<div class="Separator"></div>
					<div class="Container100">
						<div class="ContainerIndent">
							<h:form>
								<h:outputLabel value="Frage:"
									style="margin-right:20px;margin-bottom:10px" />
								<div class="EmptyBox5"></div>
								<p:focus />
								<p:inputText
									value="#{createQuestionBean.newQuestion.questionText}"
									required="true" label="Frage" styleClass="Wid90" />

								<div class="EmptyBox5"></div>
								<h:outputLabel
									value="Das Fragezeichen wird automatisch ergänzt"
									styleClass="Fs12" />
								<div class="EmptyBox20"></div>

								<h:outputLabel value="Antworten:"
									style="margin-right:20px;margin-bottom:10px;" />
								<div class="EmptyBox5"></div>
								<p:inputTextarea styleClass="Wid90"
									value="#{createQuestionBean.textAreaContent}" />
								<div class="EmptyBox5"></div>
								<h:outputLabel
									value="Eine Zeile repräsentiert eine Antwort"
									styleClass="Fs12" />
								<div class="EmptyBox20"></div>
								<h:outputLabel value="Multiple Choice?"
									style="margin-right:20px;margin-bottom:10px" />
								<div class="EmptyBox5"></div>
								<p:selectBooleanCheckbox styleClass="Wid100"
									value="#{createQuestionBean.newQuestion.multipleChoice}" />

								<div class="EmptyBox20"></div>

								<p:commandButton value="Neue Frage erstellen"
									action="questionOverview?faces-redirect=true"
									styleClass="GreenButton Wid100"
									actionListener="#{createQuestionBean.createQuestion()}">
								</p:commandButton>
							</h:form>


						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>
