<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


	<ui:define name="content">

		<p:messages id="growl" severity="info" autoUpdate="true" />

		<div class="Container50 Responsive100">
			<div class="Card HeiAutoOnMobile" style="margin-bottom: 5px;">
				<h:form>
					<h:commandLink action="questionOverview?faces-redirect=true">
						<div class="Container100">
							<div class="SoftOrangeBack DispInlBlock Fleft"
								style="margin-right: 20px; margin-left: -10px">
								<i class="icon-question Orange Fs100"></i>
							</div>
							<div class="ContainerIndent Fs50 BoldGray HoverEffect">
								#{questionRepository.findAllActiveByMember().size()} Fragen<br />
							</div>
						</div>
					</h:commandLink>
				</h:form>
			</div>
		</div>

		<div class="Container50 Responsive100">
			<div class="Card HeiAutoOnMobile" style="margin-bottom: 5px;">
				<h:form>
					<h:commandLink>
						<div class="Container100">
							<div class="SoftBlueBack DispInlBlock Fleft"
								style="margin-right: 20px; margin-left: -10px">
								<i class="icon-comments Blue Fs100"></i>
							</div>
							<div class="ContainerIndent Fs50 BoldGray HoverEffect">100
								Antworten</div>
						</div>
					</h:commandLink>
				</h:form>
			</div>
		</div>

		<div class="Container100">
			<div class="Card HeiAutoOnMobile" style="margin-bottom: 5px;">
				<div class="Container100" style="min-height: 150px">
					<p:chart type="line" model="#{lineChartBean.lineModel}"
						responsive="true" style="height:200px;" />
				</div>
			</div>
		</div>

		<div class="Container100">
			<div class="Card HeiAutoOnMobile">
				<h2 class="CardTopic">
					<i class="icon-timelapse Fs20 Fleft MarRight10"></i> BELIEBTESTE
					FRAGEN
				</h2>
				<div class="SeparatorFull"></div>

				<ui:repeat value="#{mostPopularQuestions}" var="question">
					<div class="Wid100">
						<div class="ContainerIndent Fs16 BoldGray">
							#{question.questionText} <span class="Fright Purple">#{question.totalAnswerCount}
								Antworten </span>
						</div>
					</div>
					<div class="SeparatorFull"></div>
				</ui:repeat>

			</div>
		</div>
	</ui:define>
</ui:composition>







