
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<p:messages id="growl" showDetail="false" autoUpdate="true" />

		<h:panelGroup layout="block"
			rendered="#{empty findFeedbackCardsByUser}">

			<div class="Container100 Responsive100">
				<div class="Container100 Responsive100">
					<div class="ContainerIndent">
						<div class="Card ShadowEffect HeiAutoOnMobile OvHidden">
							<div class="Container100"
								style="margin: 0px 10px 10px -10px; padding: 0px 10px;">
								<div class="SoftBlueBack DispInlBlock Fleft"
									style="margin: -10px 10px -10px -10px; padding: 20px 10px;">
									<i class="fa fa-wechat Fs100 White"></i>
								</div>
								<p></p>
								<span class="Black FontRobotoBold Fs25">Es wurden bisher
									keine FeedbackCards erstellt</span><br />

								<h:form>
									<span class="Black FontRobotoLight Fs20">Um
										FeedbackCards zu erstellen, legen Sie zunächst eine Umfrage an
										und weisen dieser eine Frage hinzu. </span>
								</h:form>
							</div>

						</div>
					</div>
				</div>
			</div>

		</h:panelGroup>

		<h:panelGroup layout="block"
			rendered="#{not empty findFeedbackCardsByUser}">

			<div class="Container100">
				<div class="ContainerIndent">
					<h2 class="BigTopic Fs32 FontRobotoRegular">
						Meine FeedbackCards
						<p:button id="newFeedbackCards" type="button" class="Fright Fs16"
							icon="ui-icon-plus" value="FeedbackCards erstellen" href="">
						</p:button>
					</h2>
				</div>
			</div>

			<div class="Container100">
				<div class="ContainerIndent">

					<div class="Card HeiAutoOnMobile">
						<h:form id="form">
							<p:dataTable id="singleDT" var="feedbackCard"
								value="#{findFeedbackCardsByUser}"
								emptyMessage="No FeedbackCards found with given criteria"
								reflow="true">
								<p:column headerText="Erstelldatum"
									sortBy="#{feedbackCard.question}">
									<h:outputText value="#{feedbackCard.id}" />
								</p:column>
								<p:column headerText="Frage" sortBy="#{feedbackCard.question}">
									<h:outputText value="#{feedbackCard.singleUsage}" />
								</p:column>
								<p:column headerText="Anzahl FeedbackCards"
									sortBy="#{feedbackCard.question}">
									<h:outputText value="#{feedbackCard.singleUsage}" />
								</p:column>
								<p:column headerText="Rücklauf"
									sortBy="#{feedbackCard.question}">
									<h:outputText value="#{feedbackCard.singleUsage}" />
								</p:column>
							</p:dataTable>

						</h:form>

					</div>
				</div>

			</div>
		</h:panelGroup>

	</ui:define>
</ui:composition>
