
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<p:messages id="growl" showDetail="false" autoUpdate="true" />

		<h:panelGroup layout="block"
			rendered="#{empty questionOverviewBean.barModels}">

			<div class="Container100 Responsive100">
				<div class="Container100 Responsive100">
					<div class="ContainerIndent">
						<div class="Card ShadowEffect HeiAutoOnMobile OvHidden">
							<div class="Container100"
								style="margin: 0px 10px 10px -10px; padding: 0px 10px;">
								<div class="SoftBlueBack DispInlBlock Fleft"
									style="margin: -10px 10px -10px -10px; padding: 20px 10px;">
									<i class="fa fa-wechat Fs100 White"></i>
								</div>
								<span class="Black FontRobotoBold Fs25">Es wurden bisher
									keine Fragen erstellt</span><br />

								<h:form>
									<span class="Black FontRobotoLight Fs20">Um eine Frage
										zu erstellen, klicken Sie <h:commandLink
											action="createQuestion" value="hier" />.
									</span>
								</h:form>
							</div>

						</div>
					</div>
				</div>
			</div>

		</h:panelGroup>

		<h:panelGroup id="questionCards" layout="block"
			rendered="#{not empty questionOverviewBean.barModels}">
			<div class="Container100">
				<div class="ContainerIndent">
					<h2 class="BigTopic Fs32 FontRobotoRegular">
						Fragenübersicht
						<p:button id="newQuestion" type="button" class="Fright Fs16"
							icon="ui-icon-plus" value="Frage hinzufügen"
							href="createQuestion.jsf">
						</p:button>
					</h2>
				</div>
			</div>

			<ui:repeat id="charts" value="#{questionOverviewBean.barModels}"
				var="barModel">
				<div class="Container50 Responsive100">
					<div class="Container100">
						<div class="ContainerIndent">
							<div class="Card ShadowEffect  ">
								<h2 class="CardTopic">

									<h:form>
										<h:commandLink action="questionDetail?faces-redirect=true">
											<f:setPropertyActionListener
												target="#{selectedQuestionBean.selectedQuestion}"
												value="#{question}" />
											<div>
												<i class="icon-google132 Fs20 Fleft MarRight10 OvHidden"></i>
												<p:outputLabel value="#{barModel.question.questionText}" />
											</div>
										</h:commandLink>
									</h:form>

									<h:form>
										<p:commandButton id="questionMenu" type="button"
											icon="fa fa-ellipsis-v Gray Fs20" class="Fright GrayButton"
											style="margin-top:-30px !important;" />
										<p:menu overlay="true" trigger="questionMenu" my="left top"
											at="left bottom">
											<p:menuitem value="FeedbackCards erstellen!"
												action="createFeedbackCards?faces-redirect=true">
												<f:setPropertyActionListener
													target="#{selectedQuestionBean.selectedQuestion}"
													value="#{barModel.question}" />
											</p:menuitem>
											<p:menuitem value="Bearbeiten..." url="#"
												icon="ui-icon-newwin" onclick="PF('panel').toggle()" />
											<p:menuitem value="Entfernen..." icon="ui-icon-close"
												actionListener="#{questionService.deleteQuestion(barModel.question)}"
												update="questionCards"
												oncomplete="setTimeout(function() { $('[id$=growl]').hide(1000); }, 2000);" />
										</p:menu>
									</h:form>
								</h2>

								<h:form>
									<p:poll interval="60" update="chart" />
									<h:commandLink action="questionDetail?faces-redirect=true">
										<f:setPropertyActionListener
											target="#{selectedQuestionBean.selectedQuestion}"
											value="#{question}" />
										<p:chart id="chart" type="bar" responsive="true"
											style="height:320px;" model="#{barModel.barChartModel}" />
									</h:commandLink>
								</h:form>
							</div>
						</div>

					</div>
				</div>
			</ui:repeat>
		</h:panelGroup>

	</ui:define>
</ui:composition>
