
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<p:messages id="growl" showDetail="false" autoUpdate="true" />

		<h:panelGroup layout="block" rendered="#{empty allScans}">

			<div class="Container100 Responsive100">
				<div class="Container100 Responsive100">
					<div class="ContainerIndent">
						<div class="Card ShadowEffect HeiAutoOnMobile OvHidden">
							<div class="Container100"
								style="margin: 0px 10px 10px -10px; padding: 0px 10px;">
								<div class="SoftBlueBack DispInlBlock Fleft"
									style="margin: -10px 10px -10px -10px; padding: 20px 10px;">
									<i class="fa fa-wechat Fs100 White"></i>
								</div>
								<p></p>
								<span class="Black FontRobotoBold Fs25">Bisher wurde noch
									kein Code gescannt.</span><br />

								<h:form>
									<span class="Black FontRobotoLight Fs20">Haben Sie Ihre
										FeedbackCards bereits verteilt? </span>
								</h:form>
							</div>

						</div>
					</div>
				</div>
			</div>

		</h:panelGroup>

		<h:panelGroup layout="block" rendered="#{not empty allScans}">

			<div class="Container100">
				<div class="ContainerIndent">

					<div class="Card HeiAutoOnMobile">
						<h2 class="BigTopic Fs30" style="padding-bottom: 0px">Scanübersicht</h2>
						<div class="SeparatorFull"></div>

						<h:form id="form">
							<p:dataTable id="singleDT" var="scan" value="#{allScans}"
								emptyMessage="No FeedbackCards found with given criteria"
								reflow="true">
								<p:column headerText="Zeitstempel" sortBy="#{scan.timestamp}">
									<h:outputText value="#{scan.timestamp}" />
								</p:column>
								<p:column headerText="QR-Code">
									<h:outputText value="#{scan.qrCode.hash}" />
								</p:column>
								<p:column headerText="Frage">
									<h:outputText value="#{scan.qrCode.feedbackCard.question.questionText}" />
								</p:column>
								<p:column headerText="Answer">
									<h:outputText value="#{scan.qrCode.answer.answerText}" />
								</p:column>
							</p:dataTable>
						</h:form>
					</div>
				</div>

			</div>

		</h:panelGroup>
		<!-- <h:panelGroup layout="block"
							rendered="#{empty questionOverview?faces-redirect=trueBean.barModels}">

							<div class="Container100 Responsive100">
								<div class="Container100 Responsive100">
									<div class="ContainerIndent">
										<div class="feedbackCard ShadowEffect HeiAutoOnMobile OvHidden">
											<div class="Container100"
												style="margin: 0px 10px 10px -10px; padding: 0px 10px;">
												<div class="SoftBlueBack DispInlBlock Fleft"
													style="margin: -10px 10px -10px -10px; padding: 20px 10px;">
													<i class="fa fa-wechat Fs100 White"></i>
												</div>
												<p></p>
												<span class="Black FontRobotoBold Fs25">Es wurden
													bisher keine Fragen erstellt</span><br />

												<h:form>
													<span class="Black FontRobotoLight Fs20">Um Fragen
														zu erstellen, legen Sie zunächst eine Umfrage an. </span>
												</h:form>
											</div>

										</div>
									</div>
								</div>
							</div>

						</h:panelGroup> -->




	</ui:define>
</ui:composition>
