
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<p:growl id="msgs" showDetail="true" />

		<div class="Container50 Responsive100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect HeiAutoOnMobile">
					<h2 class="CardTopic">
						<i class="icon-chat76 Fs20 Fleft MarRight10"></i> FRAGE BEARBEITEN
					</h2>
					<div class="Separator"></div>
					<div class="Container100">
						<div class="ContainerIndent">

							<h:form>
								<div class="EmptyBox10"></div>
								<h:outputLabel value="Frage"
									style="margin-right:20px;margin-bottom:10px" />
								<div class="EmptyBox5"></div>
								<p:focus />
								<p:inputText value="#{selectedQuestion.questionText}"
									required="true" label="Frage" styleClass="Wid90" />

								<div class="EmptyBox10"></div>

								<h:outputLabel value="Antworten"
									style="margin-right:20px;margin-bottom:10px;" />
								<div class="EmptyBox5"></div>
								<p:inputTextarea styleClass="Wid90"
									value="#{createQuestionBean.textAreaContent}" />

								<div class="EmptyBox10"></div>
								<h:outputLabel value="Multiple Choice?"
									style="margin-right:20px;margin-bottom:10px" />
								<div class="EmptyBox5"></div>
								<p:selectBooleanCheckbox styleClass="Wid100"
									value="#{selectedQuestion.multipleChoice}" />

								<div class="EmptyBox20"></div>

								<p:commandButton value="Neue Frage erstellen"
									icon="ui-icon-plusthick" action="surveyDetail"
									styleClass="Fright GreenButton"
									actionListener="#{questionService.updateQuestion(selectedQuestion)}">
								</p:commandButton>
							</h:form>
							<p:button value="Zurück zur Übersicht" outcome="questionOverview"
								styleClass="Fright RedButton" />
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>
