<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>QR-Feedback</title>
	<ui:insert name="head" />
	<h:outputScript name="js/client.min.js" library="clientjs" />
	<h:outputScript name="js/animator.js" library="qrFeedback" />
	<h:outputScript name="js/prefixfree.min.js" library="qrFeedback" />
</h:head>

<h:body class="landingBodyOrange">

	<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
		<div class="Wid33 MarAuto WidAutoOnMobile">

			<div class="Container100">
				<div class="ContainerIndent">
					<div id="thankYou" class="thankYouClass">
						<h2 class="FontRobotoRegular">...durch Feedback können wir
							unsere Dienste noch besser auf unsere Kunden abstimmen...</h2>
						<div class="EmptyBox10"></div>
						<h1 class="FontRobotoRegular">Vielen Dank dafür!</h1>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div id="formBox" class="hide">
		<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
			<div class="Wid33 MarAuto WidAutoOnMobile">
				<div class="Card ShadowEffect">
					<h:form>
						<div class="Container100">
							<div class="ContainerIndent">
								<p:messages id="growl" showDetail="false" autoUpdate="true"
									sticky="true" />

								<div class="Fs23">Würdest du uns weiterempfehlen?</div>
								<div class="EmptyBox5" />
								<div>
									<p:rating id="rating" value="#{codeScannedBean.rating}"
										styleClass="ratingBox" cancel="false"
										style="animation: pulse 1000ms 500ms" stars="10" />
								</div>
								<div class="EmptyBox5"></div>
								<div class="Fs23">Was können wir besser machen?</div>
								<div class="EmptyBox5" />
								<p:inputTextarea styleClass="Wid90"
									value="#{codeScannedBean.reason}" />
							</div>
						</div>

						<div class="Separator"></div>

						<p:commandButton value="Bewertung abgeben!" icon="fa fa-dollar"
							styleClass="OrangeButton Wid90 Fs18 White RaisedButton"
							actionListener="#{codeScannedBean.save()}" />
					</h:form>

					<div class="Separator"></div>

					<div class="Wid100 OvHidden Fs18 BoldGray">Du willst Punkte
						sammeln und gegen tolle Prämien eintauschen?</div>

					<div class="EmptyBox10"></div>
					<div class="Wid100 DispInlBlock MarAuto TextAlCenter">
						<p:graphicImage library="qrFeedback" height="40px" width="40px"
							name="images/social/facebook.svg"
							style="margin-left:15px; margin-right:15px" />

						<p:graphicImage library="qrFeedback" height="40px" width="40px"
							name="images/social/twitter.svg"
							style="margin-left:15px; margin-right:15px" />

						<p:graphicImage library="qrFeedback" height="40px" width="40px"
							name="images/social/googleplus.svg"
							style="margin-left:15px; margin-right:15px" />
					</div>

				</div>
				<div
					class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular WhiteBlue">
					<i class="fa fa-copyright"></i>QR-Feedback <br /> Alle Rechte
					vorbehalten.
				</div>
			</div>
		</div>
	</div>

	<h:outputStylesheet name="css/core-layout.css" library="rio-layout" />
	<h:outputStylesheet name="css/animate.css" library="rio-layout" />
	<h:outputStylesheet name="css/rio-font.css" library="rio-layout" />
	<h:outputStylesheet name="css/ripple-effect.css" library="rio-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="rio-layout" />
	<h:outputStylesheet name="css/rio-layout.css" library="rio-layout" />
	<h:outputStylesheet name="css/animate.css" library="animate" />
	<h:outputStylesheet name="css/landingPageStyle.css"
		library="qrFeedback" />
</h:body>

</html>