<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>QR-Feedback</title>
	<ui:insert name="head" />
</h:head>
<h:body class="loginbodycity">

	<h:form id="registrationForm">
		<p:messages id="messages" autoUpdate="true" sticky="false" />

		<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
			<div class="Wid33 MarAuto WidAutoOnMobile">
				<h:graphicImage name="images/logo.svg" library="rio-layout"
					style="width:40%; max-width:200px;" />
				<div class="EmptyBox30"></div>
				<div class="Card ShadowEffect">
					<div class="EmptyBox20"></div>
					<div class="Wid100 OvHidden BigTopic Fs30">
						<i class="icon-users Fs40"></i> Registrierung
					</div>
					<div class="EmptyBox20"></div>
					<h:form>
						<div class="Wid100">
							<p:inputText placeholder="Vorname" value="#{newUser.firstName}"
								styleClass="Wid80 TexAlCenter Fs18" />
						</div>
						<div class="EmptyBox10"></div>

						<div class="Wid100">
							<p:inputText placeholder="Nachname" value="#{newUser.lastName}"
								styleClass="Wid80 TexAlCenter Fs18" />
						</div>
						<div class="EmptyBox10"></div>

						<div class="Wid100">
							<p:inputText placeholder="E-Mail" value="#{newUser.email}"
								styleClass="Wid80 TexAlCenter Fs18" />
						</div>
						<div class="EmptyBox10"></div>

						<div class="Separator80"></div>


						<div class="Wid100">
							<p:inputText placeholder="Benutzername"
								value="#{newUser.loginName}" styleClass="Wid80 TexAlCenter Fs18" />
						</div>
						<div class="EmptyBox10"></div>
						<div class="Wid100">
							<p:inputText type="password" placeholder="Passwort"
								value="#{registrationBean.password}"
								styleClass="Wid80 TexAlCenter Fs18" />
						</div>
						<div class="EmptyBox30"></div>


						<div class="Wid100">
							<p:commandButton value="Registrieren" icon="fa fa-sign-in"
								actionListener="#{registrationBean.register()}" action="home"
								styleClass="Wid60 Fs18 White RaisedButton" />
						</div>
						<div class="EmptyBox5"></div>
						<div class="Wid100">
							<p:commandButton value="Zurück zur Login-Seite ... "
								icon="fa fa-lock" action="login?faces-redirect=true"
								styleClass="RedButton Wid60 Fs18 White RaisedButton" />
						</div>
						<div class="EmptyBox20"></div>
					</h:form>
				</div>

			</div>
		</div>

	</h:form>
	<h:outputStylesheet name="css/style.css" library="qrFeedback" />
	<h:outputStylesheet name="css/core-layout.css" library="rio-layout" />
	<h:outputStylesheet name="css/animate.css" library="rio-layout" />
	<h:outputStylesheet name="css/rio-font.css" library="rio-layout" />
	<h:outputStylesheet name="css/ripple-effect.css" library="rio-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="rio-layout" />
	<h:outputStylesheet name="css/rio-layout.css" library="rio-layout" />
</h:body>
</html>
