.thankYouClass {
	text-shadow: 0 .1rem 0 rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, .8);
	box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
	border-radius: .5rem;
	animation: zoomIn 900ms ease-in-out, bounceOut 900ms 2500ms ease-in-out
		forwards;
}

.landingBodyOrange {
	background-image: url("#{resource['qrFeedback:images/material/8.jpg']}");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #e53935;
	background-repeat: no-repeat;
}

.hide {
	display: none;
}

.show {
	animation: fadeIn 900ms;
}

.shake{
	animation: shake 1500ms;
}

.ratingBox {
	display: inline-block;
}

.ui-rating-star {
	padding: 2.5px;
}

.ui-rating-star a {
	height: 20px !important;
	width: 20px !important;
}

/* a, div, span, input, textarea, li, strong, button{
	padding: 6px;
}

.ui-rating a, div, span, input, textarea, li, strong, button{
	padding: 6px;
} */