html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

.loginbodydrops {
	background-image:
		url("#{resource['qrFeedback:images/drops.jpg']}");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #e53935;
	background-repeat: no-repeat;
	height: auto;
	border-top: solid 10px #e53935;
}

.loginbodymountains {
	background-image:
		url("#{resource['qrFeedback:images/berge.jpg']}");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #e53935;
	background-repeat: no-repeat;
	height: auto;
	border-top: solid 10px #e53935;
}

.loginbodytrain {
	background-image:
		url("#{resource['qrFeedback:images/train.jpg']}");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #e53935;
	background-repeat: no-repeat;
	height: auto;
	border-top: solid 10px #e53935;
}

.loginbodyglass {
	background-image:
		url("#{resource['qrFeedback:images/glass-building.jpg']}");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #e53935;
	background-repeat: no-repeat;
	height: auto;
	border-top: solid 10px #e53935;
}