<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:pr="http://primefaces.org/rio"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<div class="Animated05" id="layout-menu-cover">
		<ul class="layout-menu">
			<li><a class="menulink ripplelink"> <i
					class="icon-round58 Fs40"></i> <span class="Fs18"><p:outputLabel
							value="#{actualUser.firstName} #{actualUser.lastName}" /><i
						class="icon-downwards Fright Fs20"></i><br /> <span
						class="Fs12 FontRobotoLight">#{actualUser.company}</span> </span>
			</a>
				<ul>
					<li><a href="#" class="menulink ripplelink"><i
							class="icon-user158 Fs16"></i>Benutzerkonto verwalten</a></li>
					<h:form>
						<li><h:commandLink action="#{identity.logout}" value="Logout"
								class="menulink ripplelink" /></li>
					</h:form>
				</ul></li>
		</ul>

		<div class="Separator"></div>

		<h:form>
			<pr:menu>
				<p:menuitem id="rm_dashboard" label="Dashboard" value="Dashboard"
					class="Fs18" icon="icon-planet29" outcome="/protected/dashboard" />
				<p:menuitem id="rm_newquestion" label="Frage erstellen"
					value="Frage erstellen" class="Fs18" icon="icon-add"
					outcome="/protected/createQuestion" />
				<p:menuitem value="Fragenübersicht" icon="icon-question"
					class="Fs18" outcome="questionOverview.jsf" />
				<p:menuitem value="Antworten ansehen" icon="icon-users25"
					class="Fs18" outcome="scanOverview.jsf" />
				<p:menuitem value="Meine FeedbackCards" icon="icon-sms5"
					class="Fs18" outcome="feedbackCardOverview.jsf" />
			</pr:menu>
		</h:form>

		<div class="SeperatorFull" />

	</div>

</ui:composition>