<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">


	<div id="layout-topbar">
		<div id="logo" class="Fleft"
			style="background-color: hsla(208, 100%, 81%, 1)">
			<a href="../protected/dashboard.xhtml"><p:graphicImage
					name="images/logo_laenger.svg"  styleClass="Fleft" style="width: 400px;"  library="qrFeedback" /></a>
			<a id="mobile-menu-button"
				class="Fright ShowOnMobile ripplelink Unselectable ShadowEffect"><i
				class="icon-add186"></i></a>
		</div>

		<a class="ripplelink WhiteBlue Fright ShowOnMobile" id="show-top-menu"><i
			class="icon-show8"></i></a>

		<ul id="top-menu" class="ShowOnDesktop">
			<li><a class="ripplelink"><i class="fa fa-search"></i> <span
					class="Txt">Suche</span></a>
				<ul>
					<li><input type="text" placeholder="Suche ..." /></li>
				</ul></li>
			<li><a class="ripplelink"><i class="fa fa-comment-o"></i> <span
					class="Txt">Aufgaben</span></a>
				<ul>
					<li><a href="#">3 neue Aufgaben</a></li>
				</ul></li>

			<li><a href="#" class="ripplelink"><i
					class="fa fa-power-off"></i> <span class="Txt">System
						Settings</span></a></li>
		</ul>

	</div>

</ui:composition>
